<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACPI</key>
	<dict>
		<key>SSDT</key>
		<dict>
			<key>Generate</key>
			<dict>
				<key>PluginType</key>
				<true/>
			</dict>
		</dict>
		<key>PatchAPIC</key>
		<false/>
		<key>FixHeaders</key>
		<true/>
		<key>FixMCFG</key>
		<false/>
		<key>AutoMerge</key>
		<true/>
		<key>DSDT</key>
		<dict>
			<key>Patches</key>
			<array>
				<dict>
					<key>Find</key>
					<data>RUMwXw==</data>
					<key>Replace</key>
					<data>RUNfXw==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change EC0 to EC</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>X09TSQ==</data>
					<key>Replace</key>
					<data>WE9TSQ==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change _OSI to XOSI</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>X0NSUw==</data>
					<key>Replace</key>
					<data>WENSUw==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change _CRS to XCRS</string>
					<key>TgtBridge</key>
					<data>VFBEMA==</data>
				</dict>
			</array>
			<key>Fixes</key>
			<dict>
				<key>FixADP1</key>
				<false/>
				<key>FixHPET</key>
				<true/>
				<key>FixDarwin7</key>
				<false/>
				<key>FixTMR</key>
				<true/>
				<key>FixDarwin</key>
				<false/>
				<key>FixShutdown</key>
				<false/>
				<key>AddMCHC</key>
				<false/>
				<key>FixRTC</key>
				<true/>
				<key>FixIPIC</key>
				<true/>
				<key>FixSATA</key>
				<false/>
				<key>AddDTGP</key>
				<true/>
				<key>DeleteUnused</key>
				<true/>
				<key>FixSBUS</key>
				<false/>
				<key>FixHDA</key>
				<false/>
				<key>FixRegions</key>
				<true/>
			</dict>
		</dict>
		<key>HaltEnabler</key>
		<true/>
	</dict>
	<key>Boot</key>
	<dict>
		<key>DefaultLoader</key>
		<string>boot.efi</string>
		<key>DefaultVolume</key>
		<string>macOS</string>
		<key>Arguments</key>
		<string>-wegnoegpu</string>
		<key>Timeout</key>
		<integer>0</integer>
	</dict>
	<key>GUI</key>
	<dict>
		<key>Theme</key>
		<string>theme</string>
		<key>Hide</key>
		<array>
			<string>Preboot</string>
			<string>Recovery</string>
		</array>
		<key>Scan</key>
		<true/>
		<key>ScreenResolution</key>
		<string>1920x1080</string>
	</dict>
	<key>Devices</key>
	<dict>
		<key>Properties</key>
		<dict>
			<key>PciRoot(0)/Pci(0x02,0)</key>
			<dict>
				<key>framebuffer-stolenmem</key>
				<data>AAAwAQ==</data>
				<key>framebuffer-patch-enable</key>
				<integer>1</integer>
				<key>device-id</key>
				<data>FlkAAA==</data>
				<key>hda-gfx</key>
				<string>onboard-1</string>
				<key>framebuffer-fbmem</key>
				<data>AACQAA==</data>
				<key>AAPL,ig-platform-id</key>
				<data>AAAbWQ==</data>
			</dict>
		</dict>
		<key>Audio</key>
		<dict>
			<key>Inject</key>
			<integer>20</integer>
		</dict>
		<key>USB</key>
		<dict>
			<key>AddClockID</key>
			<true/>
			<key>FixOwnership</key>
			<true/>
			<key>Inject</key>
			<true/>
		</dict>
		<key>LANInjection</key>
		<false/>
	</dict>
	<key>KernelAndKextPatches</key>
	<dict>
		<key>AppleIntelCPUPM</key>
		<true/>
		<key>KernelPm</key>
		<true/>
		<key>KextsToPatch</key>
		<array>
			<dict>
				<key>Find</key>
				<data>SU9LaXQ=</data>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelLpssI2C</string>
				<key>Replace</key>
				<data>SU9LaXM=</data>
				<key>Disabled</key>
				<false/>
				<key>Comment</key>
				<string>Prevent Apple I2C kexts from attaching to I2C controllers, credit CoolStar</string>
				<key>InfoPlistPatch</key>
				<true/>
			</dict>
			<dict>
				<key>Find</key>
				<data>SU9LaXQ=</data>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelLpssI2CController</string>
				<key>Replace</key>
				<data>SU9LaXM=</data>
				<key>Disabled</key>
				<false/>
				<key>Comment</key>
				<string>Prevent Apple I2C kexts from attaching to I2C controllers, credit CoolStar</string>
				<key>InfoPlistPatch</key>
				<true/>
			</dict>
		</array>
		<key>KernelLapic</key>
		<false/>
	</dict>
	<key>RtVariables</key>
	<dict>
		<key>ROM</key>
		<data>iol2+tv3</data>
		<key>BooterConfig</key>
		<string>0x28</string>
		<key>CsrActiveConfig</key>
		<string>0x67</string>
	</dict>
	<key>SMBIOS</key>
	<dict>
		<key>FirmwareFeatures</key>
		<string>0xFC0FE13F</string>
		<key>Board-ID</key>
		<string>Mac-551B86E5744E2388</string>
		<key>FirmwareFeaturesMask</key>
		<string>0xFF1FFF3F</string>
		<key>BoardVersion</key>
		<string>1.0</string>
		<key>Manufacturer</key>
		<string>Apple Inc.</string>
		<key>ChassisType</key>
		<string>0x09</string>
		<key>BiosVersion</key>
		<string>MBP143.88Z.F000.B00.1905281616</string>
		<key>BoardManufacturer</key>
		<string>Apple Inc.</string>
		<key>ChassisAssetTag</key>
		<string>MacBook-Aluminum</string>
		<key>PlatformFeature</key>
		<string>0x1A</string>
		<key>Family</key>
		<string>MacBook Pro</string>
		<key>ChassisManufacturer</key>
		<string>Apple Inc.</string>
		<key>BoardSerialNumber</key>
		<string>C02735100CDJ1JHAD</string>
		<key>BiosVendor</key>
		<string>Apple Inc.</string>
		<key>ProductName</key>
		<string>MacBookPro14,3</string>
		<key>SmUUID</key>
		<string>5168270E-85F7-4654-A9CC-C977CFFADBF7</string>
		<key>Mobile</key>
		<true/>
		<key>BoardType</key>
		<integer>10</integer>
		<key>EfiVersion</key>
		<string>196.0.0.0.0</string>
		<key>SerialNumber</key>
		<string>C02V9KYEHTD5</string>
		<key>LocationInChassis</key>
		<string>Part Component</string>
		<key>BiosReleaseDate</key>
		<string>05/28/2019</string>
		<key>Version</key>
		<string>1.0</string>
	</dict>
	<key>SystemParameters</key>
	<dict>
		<key>CustomUUID</key>
		<string>DA8CE4CD-BBE5-471D-88F1-98247752B425</string>
		<key>InjectKexts</key>
		<string>Yes</string>
	</dict>
</dict>
</plist>